.titulocontainer{
    text-align: center;
    color: rgb(18, 17, 17);
    font-size: 30px;
}
.parte1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    height: clamp(50px, 8vh, 100px);
}
.input{
    width: clamp(200px, 40vw, 700px);
    border-radius: 10px;
    border: 1px solid black;
    font-size: 25px;
}
div > button {
    border-radius: 10px;
    border: 1px solid black;
    width: clamp(100px, 20vw, 200px);
    font-size: 20px;
}
.buttonadicionar{
    background-color: rgb(6, 95, 239);
}
.parte2{
    text-align: center;
}
.linha{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.parte3{
    border: 1px solid black;
    height: clamp(200px, 50vh, 700px);
    display: flex;
    flex-direction:column;
    font-size: 25px;
    border-radius: 10px;
    background-color: blue;
}
.listahtml{
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    gap: 2px;
}
.lista{
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
}
.lixeira{
    display: flex;
    margin-left: auto;
    gap: 30px;
    width: 70px;
    font-size: 15px;
    justify-content: center;
}
#todas{
    background-color: rgb(0, 157, 255);
}
#pendentes{
    background-color: rgb(0, 157, 255);
}
#concluidas{
    background-color: rgb(0, 157, 255);
}
.prioridade{
    display: flex;
    background-color: rgb(108, 109, 110);
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    gap:50px
}
.label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.alto{
    background-color: rgb(255, 0, 0);
}
.medio{
    background-color: rgb(255, 225, 0);
}
.baixo{
    background-color: rgb(0, 255, 34);
}